.login-page-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    display: block;
}

.login-page-form {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
