.app-layout-logo {
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.app-layout-logo__image {
    max-width: 100%;
    cursor: pointer;
    max-height: 60%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.app-layout-sidebar {
    width: 300px;
    background: #001529;
}