:root {
    --app__color--primary: #8e44ad;
    --app__color--link: #1890ff;
    --app__color-backgroud: #ecf0f1;
    --app__color-backgroud-component: #ffffff;
    --app__color--success: #52c41a;
    --app__color--warning: #faad14;
    --app__color--error: #f5222d;
    --app__color--disabled: rgba(0, 0, 0, 0.25);
    --app__size-font--base: 14px;
    --app__weight-font--base: 200;
    --app__weight-font--bold: 600;
    --app__color-text--head: rgba(0, 0, 0, 0.85);
    --app__color-text-primary: rgba(0, 0, 0, 0.65);
    --app__color-text-secondary: rgba(0, 0, 0, 0.45);
}

.app__value--normal {
    color: var(--app__color-text-primary);
    font-weight: var(--app__weight-font--bold);
    font-size: var(--app__size-font--base);
}

.app__value--error {
    color: var(--app__color--error);
    font-weight: var(--app__weight-font--base);
    font-size: var(--app__size-font--base);
}

.app__value--sub {
    color: var(--app__color-text-primary);
    font-weight: 100;
    font-size: 10px;
    margin-left: 1.5px;
    margin-right: 1.5px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--app__color-backgroud);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}